/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/*///////////////////////////////////////////////////
//
//            â–¼ ãƒ™ãƒ¼ã‚¹è¨­å®š â–¼
//
///////////////////////////////////////////////////*/
html {
	color: #000;
	font-size: calc(12px + 4 * (100vw - 768px)/912);
	font-family: 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ã‚·ãƒƒã‚¯','Hiragino Sans',YuGothic,'Yu Gothic','ãƒ¡ã‚¤ãƒªã‚ª', Meiryo,sans-serif;
	line-height: 2;
}

@media screen and (min-width:1680px) {
	html {
		font-size: 16px;
	}
}

a {
	color: #000;
	display: block;
}

#wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
}

section,
.section {
	width: 100%;
	height: auto;
	position: relative;
}

.l_container {
	width: 95%;
	margin: 0 auto;
	max-width: 1680px;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1280px;
}

.m_container {
	width: 90%;
	margin: 0 auto;
	max-width: 1080px;
}

.s_container {
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
}

/* @media screen and (min-width:1540px) {
	.l_container {
		max-width: 1680px;
	}

	.container {
		max-width: 1480px;
	}
}

@media screen and (min-width:1280px) and (max-width:1539px) {
	html {
		font-size: 15px;
	}

	.container {
		max-width: 1280px;
	}
}

@media screen and (min-width:768px) and (max-width:1279px) {
	html {
		font-size: 14px;
	}

	.container {
		max-width: none;
	}
} */

.is_sp {
	display: none;
}

.is_tab {
	display: none;
}

@media screen and (min-width:751px) and (max-width:1025px) {
	/* html {
		font-size: 13px;
	} */

	.is_hidden_tab {
		display: none;
	}

	.is_tab {
		display: block;
	}
}

.objectCover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}

.objectContain {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%;
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}

.point_reader {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.preload * {
	transition: none;
}

/*///////////////////////////////////////////////////
//
//            â–¼ å…±é€š â–¼
//
///////////////////////////////////////////////////*/

.en {
	font-family: 'Caveat', cursive;
}

.ttl_wrap {
	background: #091f2d;
	padding: 1.5rem 0 3rem;
}

.ttl_wrap .ttl {
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 2.8rem;
}

.ttl_wrap .ttl::before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	width: 3rem;
	height: 3px;
	background: #fff;
}

#page_top {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	background: url(icon_page_top.png) center center / 100% no-repeat;
	width: 3.5rem;
	height: 3.5rem;
	cursor: pointer;
	display: none;
}

#page_top span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fadein {
	transition-duration: .6s;
	transform: translate(0, 50px);
	opacity: 0;
}

.fadein.active {
	transform: translate(0, 0);
	opacity: 1;
}

.fadein.two {
	transition-delay: .2s;
}

.fadein.three {
	transition-delay: .4s;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒŠãƒ“ â–¼
//
///////////////////////////////////////////////////*/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: rgba(17, 17, 17, 0.8);
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
}

header .logo {
	width: 100%;
	max-width: 8rem;
}

header .logo a {
	display: flex;
	align-items: center;
}

header .r_box {
	display: flex;
}

header .r_box nav ul {
	display: flex;
}

header .r_box nav ul li {
	margin-right: 3rem;
}

header .r_box nav ul li a {
	color: #fff;
	transition: .3s;
}

header .r_box nav ul li a:hover {
	opacity: .6;
}

header .r_box .sns_box {
	display: flex;
}

header .r_box .sns_box .sns {
	margin-right: 0.75rem;
}

header .r_box .sns_box .sns a {
	color: #fff;
	font-size: 1.2rem;
	transition: .3s;
}

header .r_box .sns_box .sns a:hover {
	opacity: .6;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒ•ãƒƒã‚¿ãƒ¼ â–¼
//
///////////////////////////////////////////////////*/

footer {
	background: #091F2D;
	padding: 2rem 0;
}

footer .copyright {
	font-size: 0.9rem;
	text-align: center;
	color: #fff;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—01 â–¼
//
///////////////////////////////////////////////////*/

.top01 .mv {
	width: 100%;
	height: 100%;
}

.top01 .logo {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20rem;
	z-index: 2;
}

.top01 .logo h2 {
	transition: 2s ease-out;
	opacity: 0;
	transform: translate(0, 30%);
}

.top01 .logo h2.active {
	opacity: 1;
	transform: translate(0, 0);
}

#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 1;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—02 â–¼
//
///////////////////////////////////////////////////*/

.top02 .txt_wrap {
	background: url(top02_bg.jpg) center top / cover no-repeat;
	padding: 5rem 0;
}

.top02 .txt_wrap .txt {
	width: 50%;
	margin-left: auto;
	color: #fff;
}

.top02 .txt_wrap .txt h3 {
	font-size: 1.6rem;
	margin: 0 0 1rem;
}

.top02 .txt_wrap .txt p+p {
	margin: 1rem 0 0;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—03 â–¼
//
///////////////////////////////////////////////////*/

.top03 {
	margin: 0 0 6rem;
}

.top03 .box {
	display: flex;
	margin: 6rem 0 0;
}

.top03 .box .sub_ttl {
	width: 21%;
}

.top03 .box .sub_ttl h3 {
	font-size: 2rem;
}

.top03 .box .article_box {
	width: 79%;
}

.top03 .box .article_box article {
	border-top: 1px solid #333;
}

.top03 .box .article_box article:last-of-type {
	border-bottom: 1px solid #333;
}

.top03 .box .article_box article a {
	display: flex;
	padding: 1rem;
	transition: .3s;
}

.top03 .box .article_box article a:hover {
	opacity: .6;
}

.top03 .box .article_box article a time {
	width: 15%;
	font-size: 1.5rem;
	line-height: 1.3;
}

.top03 .box .article_box article a h4 {
	width: 90%;
	padding-left: 1rem;
	font-weight: normal;
	font-size: 1rem;
}

.top03 .link_box {
	text-align: right;
	margin: 3rem 0 0;
}

.top03 .link_box a {
	display: inline-block;
}

.top03 .link_box a span {
	position: relative;
	padding-right: 2.5rem;
	font-size: 1.6rem;
	line-height: 1;
	transition: .3s;
}

.top03 .link_box a span:hover {
	opacity: .6;
}

.top03 .link_box a span::before {
	position: absolute;
	content: "ï¼ž";
	top: 50%;
	right: 0;
	transform: translate(-40%, -30%);
	font-size: 0.9rem;
	transition: .3s;
}

.top03 .link_box a:hover span::before {
	transform: translate(0, -30%);
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—04 â–¼
//
///////////////////////////////////////////////////*/

.top04 {
	margin: 0 0 6rem;
}

.top04 h3 {
	font-size: 2rem;
	margin: 6rem 0 0;
}

.top04 .box {
	margin: 2rem 0 0;
	display: flex;
	justify-content: space-between;
}

.top04 .box .item {
	width: 31%;
}

.top04 .box .item .img img {
	width: 100%;
}

.top04 .box .item .txt {
	margin: 0.5rem 0 0;
}

.top04 .box .item .txt h4 {
	text-align: center;
	font-size: 1.1rem;
}

.top04 .link_box {
	text-align: right;
	margin: 3rem 0 0;
}

.top04 .link_box a {
	display: inline-block;
}

.top04 .link_box a span {
	position: relative;
	padding-right: 2.5rem;
	font-size: 1.6rem;
	line-height: 1;
	transition: .3s;
}

.top04 .link_box a span:hover {
	opacity: .6;
}

.top04 .link_box a span::before {
	position: absolute;
	content: "ï¼ž";
	top: 50%;
	right: 0;
	transform: translate(-40%, -30%);
	font-size: 0.9rem;
	transition: .3s;
}

.top04 .link_box a:hover span::before {
	transform: translate(0, -30%);
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—05 â–¼
//
///////////////////////////////////////////////////*/

.top05 {
	margin: 0 0 6rem;
}

.top05 .box {
	width: 90%;
	margin: 6rem auto 0;
	max-width: 1080px;
	display: flex;
	justify-content: space-between;
}

.top05 .box .img {
	width: 48.5%;
}

.top05 .box .img img {
	width: 100%;
}

.top05 .box .txt {
	width: 48.5%;
}

.top05 .box .txt table tr th {
	text-align: left;
	width: 35%;
	vertical-align: top;
	padding: 0.5rem 0;
}

.top05 .box .txt table tr td {
	width: 65%;
	padding: 0.5rem 0;
}

.top05 .gmap {
	margin: 5rem 0 0;
}

.top05 .gmap iframe {
	width: 100%;
	height: 550px;
}

/*///////////////////////////////////////////////////
//
//            â–¼ MENU01 â–¼
//
///////////////////////////////////////////////////*/

.menu01 {
	margin: 14rem 0;
}

.menu01 .lower_ttl h1 {
	text-align: center;
	font-size: 3.2rem;
}

.menu01 .box {
	margin: 4rem 0 0;
}

.menu01 .box .menu {
	margin: 0 0 2rem;
}

.menu01 .box .menu h2 {
	font-size: 2.6rem;
	border-bottom: 3px solid #000;
	line-height: 1.6;
}

.menu01 .box .menu .menu_in {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.menu01 .box .menu .menu_in .img_wrap {
	width: 40%;
}

.menu01 .box .menu .menu_in .img_wrap .img {
	margin: 0 0 2rem;
}

.menu01 .box .menu .menu_in .img_wrap .img:last-of-type {
	margin: 0;
}

.menu01 .box .menu .menu_in .img_wrap .img img {
	width: 100%;
}

.menu01 .box .menu .menu_in .txt_wrap {
	width: 60%;
	padding-left: 2rem;
}

.menu01 .box .menu .menu_in .txt_wrap table {
	width: 100%;
}

.menu01 .box .menu .menu_in .txt_wrap table tr td:nth-of-type(2) {
	text-align: right;
}

.menu01 .box .menu .footnote {
	margin: 2rem 0 0;
	padding-left: 2rem;
}

.menu01 .box .menu .footnote p {
	font-size: 0.9rem;
	position: relative;
	padding-left: 1rem;
}

.menu01 .box .menu .footnote p::before {
	position: absolute;
	content: "â€»";
	top: 0;
	left: 0;
}

/*///////////////////////////////////////////////////
//
//            â–¼ NEWS01 â–¼
//
///////////////////////////////////////////////////*/

.news01 {
	margin: 14rem 0;
}

.news01 .lower_ttl h1 {
	text-align: center;
	font-size: 3.2rem;
}

.news01 .box {
	width: 90%;
	margin: 4rem auto 0;
}

.news01 .box article {
	border-top: 1px solid #333;
}

.news01 .box article:last-of-type {
	border-bottom: 1px solid #333;
}

.news01 .box article a {
	display: flex;
	padding: 1rem;
	transition: .3s;
}

.news01 .box article a:hover {
	opacity: .6;
}

.news01 .box article a time {
	width: 15%;
	font-size: 1.5rem;
	line-height: 1.3;
}

.news01 .box article a h4 {
	width: 90%;
	padding-left: 1rem;
	font-weight: normal;
}

/*///////////////////////////////////////////////////
//
//            â–¼ NEWSè©³ç´°01 â–¼
//
///////////////////////////////////////////////////*/

.news_detail01 {
	margin: 14rem 0 8rem;
}

.news_detail01 .lower_ttl h1 {
	text-align: center;
	font-size: 3.2rem;
}

.news_detail01 .breadcrumb {
	margin: 3rem 0 0;
}

.news_detail01 .breadcrumb ul {
	display: flex;
}

.news_detail01 .breadcrumb ul li {
	position: relative;
	margin-right: 1.5rem;
	font-weight: 300;
}

.news_detail01 .breadcrumb ul li:not(:last-of-type)::before {
	position: absolute;
	content: ">";
	left: 100%;
	top: 50%;
	transform: translate(0, -50%);
	margin-left: 0.5rem;
}

.news_detail01 .breadcrumb ul li a {
	transition: .3s;
}

.news_detail01 .breadcrumb ul li a:hover {
	opacity: .6;
}

.news_detail01 .box {
	margin: 3rem 0 0;
}

.news_detail01 .box article {
	display: flex;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 2rem 1rem;
}

.news_detail01 .box article time {
	width: 15%;
	font-size: 1.6rem;
}

.news_detail01 .box article .txt {
	width: 85%;
	padding-left: 1rem;
}

.news_detail01 .box article .txt h2 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.news_detail01 .box article .txt .img {
	margin: 2rem 0;
}

.news_detail01 .box article .txt p+p {
	margin: 1rem 0 0;
}

.news_detail01 .link_box {
	text-align: center;
	margin: 4rem 0 0;
}

.news_detail01 .link_box a {
	display: inline-block;
}

.news_detail01 .link_box a span {
	position: relative;
	padding-right: 2.5rem;
	font-size: 1.8rem;
	line-height: 1;
	transition: .3s;
}

.news_detail01 .link_box a span:hover {
	opacity: .6;
}

.news_detail01 .link_box a span::before {
	position: absolute;
	content: "ï¼ž";
	top: 50%;
	right: 0;
	transform: translate(-40%, -30%);
	font-size: 0.9rem;
	transition: .3s;
}

.news_detail01 .link_box a:hover span::before {
	transform: translate(0, -30%);
}
