/*///////////////////////////////////////////////////
//
//            â–¼ ãƒ™ãƒ¼ã‚¹è¨­å®š â–¼
//
///////////////////////////////////////////////////*/
body {
	-webkit-text-size-adjust: 100%;
}

html {
	color: #000;
	font-size: 4vw;
	line-height: 2;
	font-family: 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ã‚·ãƒƒã‚¯','Hiragino Sans',YuGothic,'Yu Gothic','ãƒ¡ã‚¤ãƒªã‚ª', Meiryo,sans-serif;
	-webkit-text-size-adjust: 100%;
}

@media screen and (min-width:420px) {
	html {
		font-size: 18px;
	}
}

a {
	color: #000;
	display: block;
}

#wrapper {
	width: 100%;
	height: 100%;
}

section,
.section {
	width: 100%;
	height: auto;
	position: relative;
}

.l_container {
	width: 100%;
	padding: 0 1rem;
}

.container {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 2rem;
}

.m_container {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 2rem;
}

.s_container {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 2rem;
}

.is_pc {
	display: none;
}

.is_hidden_tab {
	display: none;
}

.objectCover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}

.objectContain {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%;
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}

.point_reader {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.inertia {
	-webkit-overflow-scrolling: touch;
}

.preload * {
	transition: none;
}

/*///////////////////////////////////////////////////
//
//            â–¼ å…±é€š â–¼
//
///////////////////////////////////////////////////*/

.en {
	font-family: 'Caveat', cursive;
}

.ttl_wrap {
	background: #091f2d;
	padding: 1rem 0 2rem;
}

.ttl_wrap .ttl {
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 2.2rem;
}

.ttl_wrap .ttl::before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	width: 3rem;
	height: 3px;
	background: #fff;
}

#page_top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	background: url(icon_page_top.png) center center / 100% no-repeat;
	width: 3.5rem;
	height: 3.5rem;
	cursor: pointer;
	display: none;
}

#page_top span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	line-height: 1;
}

.fadein {
	transition-duration: .6s;
	transform: translate(0, 50px);
	opacity: 0;
}

.fadein.active {
	transform: translate(0, 0);
	opacity: 1;
}

.fadein.two {
	transition-delay: .2s;
}

.fadein.three {
	transition-delay: .4s;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒŠãƒ“ â–¼
//
///////////////////////////////////////////////////*/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: rgba(17, 17, 17, 0.8);
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
}

header .logo {
	width: 100%;
	max-width: 6rem;
}

header .logo a {
	display: flex;
	align-items: center;
}

header .r_box {
	position: absolute;
	width: 100%;
	top: 5rem;
	left: 0;
	height: 100vh;
	background-color: rgba(17, 17, 17, 0.8);
	padding: 2rem;
	transform: translate(-105%, 0);
	transition: .3s;
}

header .r_box.active {
	transform: translate(0, 0);
}

header .r_box nav ul li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

header .r_box nav ul li a {
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	width: 100%;
	padding: 0.5rem 0;
}

header .r_box .sns_box {
	display: flex;
	justify-content: center;
	margin: 2rem 0 0;
}

header .r_box .sns_box .sns {
	margin-right: 2rem;
}

header .r_box .sns_box .sns:last-of-type {
	margin-right: 0;
}

header .r_box .sns_box .sns a {
	color: #fff;
	font-size: 1.4rem;
}

.menu_open {
	width: 4rem;
	position: relative;
}

.menu_open span {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	width: 40%;
	height: 2px;
	transition: .3s;
}

.menu_open span:nth-of-type(1) {
	transform: translate(-50%, -50%) translateY(7px);
}

.menu_open span:nth-of-type(2) {
	transform: translate(-50%, -50%);
}

.menu_open span:nth-of-type(3) {
	transform: translate(-50%, -50%) translateY(-7px);
}

.menu_open.active span:nth-of-type(1) {
	transform: translate(-50%, -50%) rotate(45deg);
}

.menu_open.active span:nth-of-type(2) {
	opacity: 0;
}

.menu_open.active span:nth-of-type(3) {
	transform: translate(-50%, -50%) rotate(-45deg);
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒ•ãƒƒã‚¿ãƒ¼ â–¼
//
///////////////////////////////////////////////////*/

footer {
	background: #091F2D;
	padding: 2rem 0;
}

footer .copyright {
	font-size: 0.9rem;
	text-align: center;
	color: #fff;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—01 â–¼
//
///////////////////////////////////////////////////*/

.top01 .mv {
	width: 100%;
	height: 420px;
}

.top01 .logo {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 12rem;
	z-index: 2;
}

.top01 .logo h2 {
	transition: 2s ease-out;
	opacity: 0;
	transform: translate(0, 30%);
}

.top01 .logo h2.active {
	opacity: 1;
	transform: translate(0, 0);
}

#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 1;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—02 â–¼
//
///////////////////////////////////////////////////*/

.top02 .txt_wrap {
	background: url(top02_bg.jpg) center top / cover no-repeat;
	padding: 3rem 0;
}

.top02 .txt_wrap .txt {
	color: #fff;
}

.top02 .txt_wrap .txt h3 {
	font-size: 1.4rem;
	margin: 0 0 1rem;
}

.top02 .txt_wrap .txt p+p {
	margin: 1rem 0 0;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—03 â–¼
//
///////////////////////////////////////////////////*/

.top03 {
	margin: 0 0 3rem;
}

.top03 .box {
	margin: 3rem 0 0;
}

.top03 .box .sub_ttl h3 {
	font-size: 1.8rem;
}

.top03 .box .article_box {
	margin: 1rem 0 0;
}

.top03 .box .article_box article {
	border-top: 1px solid #333;
}

.top03 .box .article_box article:last-of-type {
	border-bottom: 1px solid #333;
}

.top03 .box .article_box article a {
	padding: 1rem;
}

.top03 .box .article_box article a time {
	font-size: 1.5rem;
	line-height: 1.3;
}

.top03 .box .article_box article a h4 {
	font-weight: normal;
	font-size: 1rem;
}

.top03 .link_box {
	text-align: right;
	margin: 2rem 0 0;
}

.top03 .link_box a {
	display: inline-block;
}

.top03 .link_box a span {
	position: relative;
	padding-right: 2.5rem;
	font-size: 1.6rem;
	line-height: 1;
}

.top03 .link_box a span::before {
	position: absolute;
	content: "ï¼ž";
	top: 50%;
	right: 0;
	transform: translate(-40%, -30%);
	font-size: 0.9rem;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—04 â–¼
//
///////////////////////////////////////////////////*/

.top04 {
	margin: 0 0 3rem;
}

.top04 h3 {
	font-size: 1.8rem;
	margin: 3rem 0 0;
}

.top04 .box {
	margin: 1rem 0 0;
}

.top04 .box .item {
	margin: 0 0 2rem;
}

.top04 .box .item .img img {
	width: 100%;
}

.top04 .box .item .txt {
	margin: 0.5rem 0 0;
}

.top04 .box .item .txt h4 {
	text-align: center;
	font-size: 1.1rem;
}

.top04 .link_box {
	text-align: right;
	margin: 2rem 0 0;
}

.top04 .link_box a {
	display: inline-block;
}

.top04 .link_box a span {
	position: relative;
	padding-right: 2.5rem;
	font-size: 1.6rem;
	line-height: 1;
}

.top04 .link_box a span::before {
	position: absolute;
	content: "ï¼ž";
	top: 50%;
	right: 0;
	transform: translate(-40%, -30%);
	font-size: 0.9rem;
}

/*///////////////////////////////////////////////////
//
//            â–¼ ãƒˆãƒƒãƒ—05 â–¼
//
///////////////////////////////////////////////////*/

.top05 {
	margin: 0 0 3rem;
}

.top05 .box {
	margin: 3rem 0 0;
}

.top05 .box .txt {
	padding: 0 2rem;
	margin: 1rem 0 0;
}

.top05 .box .txt table tr th {
	text-align: left;
	width: 24%;
	vertical-align: top;
	padding: 0.5rem 0;
}

.top05 .box .txt table tr td {
	width: 65%;
	padding: 0.5rem 0;
}

.top05 .gmap {
	margin: 2rem 0 0;
}

.top05 .gmap iframe {
	width: 100%;
	height: 250px;
}

/*///////////////////////////////////////////////////
//
//            â–¼ MENU01 â–¼
//
///////////////////////////////////////////////////*/

.menu01 {
	margin: 7rem 0 4rem;
}

.menu01 .lower_ttl h1 {
	text-align: center;
	font-size: 2.8rem;
}

.menu01 .box {
	margin: 2rem 0 0;
}

.menu01 .box .menu {
	margin: 0 0 1rem;
}

.menu01 .box .menu h2 {
	font-size: 2rem;
	border-bottom: 3px solid #000;
	line-height: 1.6;
}

.menu01 .box .menu .menu_in {
	padding: 1rem;
}

.menu01 .box .menu .menu_in .img_wrap .img {
	margin: 0 0 1rem;
}

.menu01 .box .menu .menu_in .img_wrap .img:last-of-type {
	margin: 0;
}

.menu01 .box .menu .menu_in .img_wrap .img img {
	width: 100%;
}

.menu01 .box .menu .menu_in .txt_wrap {
	margin: 0.5rem 0 0;
}

.menu01 .box .menu .menu_in .txt_wrap table {
	width: 100%;
}

.menu01 .box .menu .menu_in .txt_wrap table tr td {
	font-size: 0.8rem;
	padding: 0.15rem 0;
}

.menu01 .box .menu .menu_in .txt_wrap table tr td:nth-of-type(2) {
	text-align: right;
	width: 18%;
	vertical-align: top;
}

.menu01 .box .menu .footnote {
	margin: 1rem 0 0;
}

.menu01 .box .menu .footnote p {
	font-size: 0.8rem;
	position: relative;
	padding-left: 1rem;
}

.menu01 .box .menu .footnote p::before {
	position: absolute;
	content: "â€»";
	top: 0;
	left: 0;
}

/*///////////////////////////////////////////////////
//
//            â–¼ NEWS01 â–¼
//
///////////////////////////////////////////////////*/

.news01 {
	margin: 7rem 0 4rem;
}

.news01 .lower_ttl h1 {
	text-align: center;
	font-size: 2.8rem;
}

.news01 .box {
	margin: 2rem 0 0;
}

.news01 .box article {
	border-top: 1px solid #333;
}

.news01 .box article:last-of-type {
	border-bottom: 1px solid #333;
}

.news01 .box article a {
	padding: 1rem;
}

.news01 .box article a time {
	width: 15%;
	font-size: 1.5rem;
	line-height: 1.3;
}

.news01 .box article a h4 {
	font-weight: normal;
}

/*///////////////////////////////////////////////////
//
//            â–¼ NEWSè©³ç´°01 â–¼
//
///////////////////////////////////////////////////*/

.news_detail01 {
	margin: 7rem 0 4rem;
}

.news_detail01 .lower_ttl h1 {
	text-align: center;
	font-size: 2.8rem;
}

.news_detail01 .breadcrumb {
	margin: 2rem 0 0;
}

.news_detail01 .breadcrumb ul {
	display: flex;
	flex-wrap: wrap;
}

.news_detail01 .breadcrumb ul li {
	position: relative;
	margin-right: 1.5rem;
	font-weight: 300;
}

.news_detail01 .breadcrumb ul li:not(:last-of-type)::before {
	position: absolute;
	content: ">";
	left: 100%;
	top: 50%;
	transform: translate(0, -50%);
	margin-left: 0.5rem;
}

.news_detail01 .box {
	margin: 2rem 0 0;
}

.news_detail01 .box article {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 1rem;
}

.news_detail01 .box article time {
	font-size: 1.4rem;
}

.news_detail01 .box article .txt h2 {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.news_detail01 .box article .txt .img {
	margin: 1rem 0;
}

.news_detail01 .box article .txt p+p {
	margin: 1rem 0 0;
}

.news_detail01 .link_box {
	text-align: center;
	margin: 2rem 0 0;
}

.news_detail01 .link_box a {
	display: inline-block;
}

.news_detail01 .link_box a span {
	position: relative;
	padding-right: 2.5rem;
	font-size: 1.8rem;
	line-height: 1;
}

.news_detail01 .link_box a span::before {
	position: absolute;
	content: "ï¼ž";
	top: 50%;
	right: 0;
	transform: translate(-40%, -30%);
	font-size: 0.9rem;
}
